<div class="modal fade" id="modalLoading" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body bg-transparent">
                <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">

                </div>
                Cargando los datos del Reporte
            </div>
        </div>
    </div>
</div>
