@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table id="tbConsultaUsuarios" class="table table-striped display nowrap">
        <thead>
            <tr>
                <th>AdminUserID</th>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Estatus</th>
                <th></th>
                <th></th>
                @*<th style="display:none"></th>*@
            </tr>
        </thead>
    </table>

</body>
</html>
